Repository mt-sre/ocm-addons: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, license-check

golangci-lint:
  name: golangci-lint
  entry: ./mage check:lint
  language: system
  pass_filenames: false
  require_serial: true

license-check:
  name: Check pkgs for incompatible licenses
  entry: ./mage check:license
  language: system
  pass_filenames: false
  require_serial: true

refactor: repackaging output
  cmd/ocm-addons/cluster/events/cmd.go
  cmd/ocm-addons/cluster/info/cmd.go
  cmd/ocm-addons/installations/cmd.go
  cmd/ocm-addons/list/cmd.go
  cmd/ocm-addons/notify/list/cmd.go
  internal/cli/table.go
  internal/notification/notification_test.go
  internal/ocm/addon_installation_test.go
  internal/ocm/addon_test.go
  internal/ocm/cluster_test.go
  internal/ocm/log_entry_test.go
Due: golangci-lint

refactor: minor integration cleanup
  integration/internal/.editorconfig
  integration/internal/generator/encoders.go
  integration/internal/generator/generators.go
  integration/list_test.go
  integration/ocm-addons_suite_test.go
Due: golangci-lint

ci: removing pymarkdownlint
  .pre-commit-config.yaml
  cicd/jenkins_env.sh
  pr_check.sh
Due: none

feat: adding creator fields to subscriptions
  internal/ocm/cluster.go
Due: golangci-lint

Revert "refactor: integration generator cleanup"
  integration/generators.go
  integration/helpers.go
  integration/internal/generator/encoders.go
  integration/internal/generator/generators.go
  integration/internal/generator/options.go
  integration/internal/utils/helpers.go
  integration/list_test.go
  integration/ocm_environment.go
Due: golangci-lint

Revert "refactor: cluster pager -> cluster iterator"
  go.mod
  go.sum
  integration/generators.go
  integration/ocm_environment.go
  internal/ocm/cluster_iterator.go
  internal/ocm/cluster_pager.go
  internal/ocm/cluster_pager_test.go
  internal/ocm/cluster_request_response.go
  internal/ocm/cluster_request_response_test.go
Due: golangci-lint, license-check

Revert "refactor: addon pager -> addon iterator"
  integration/generators.go
  integration/list_test.go
  integration/ocm_environment.go
  internal/ocm/addon_iterator.go
  internal/ocm/addon_pager.go
  internal/ocm/addon_pager_test.go
  internal/ocm/addon_request_response.go
  internal/ocm/addon_request_response_test.go
Due: golangci-lint

fix(deps): bump github.com/stretchr/testify from 1.7.2 to 1.7.5
  go.mod
  go.sum
Due: license-check

ci: lint updates for go 1.18 compatability
  .golangci.yaml
  cmd/ocm-addons/cluster/events/cmd.go
  go.mod
  internal/cli/table.go
  internal/ocm/addon_pager_test.go
  internal/ocm/cluster_pager_test.go
  tools/go.mod
  tools/go.sum
Due: golangci-lint, license-check

fix: remove cluster 'DisplayName' field
  integration/generators.go
  internal/ocm/cluster.go
Due: golangci-lint

fix(deps): bump ocm-sdk-go to v0.1.278
  go.mod
  go.sum
Due: license-check

ci: fix goreleaser dependencies
  tools/go.mod
  tools/go.sum
Due: license-check

fix: downgrade goreleaser for 1.17 compat
  tools/go.mod
  tools/go.sum
Due: license-check

feat: update to go 1.18
  .github/dependabot.yml
  cicd/jenkins_env.sh
  go.mod
  go.sum
  integration/generators.go
  magefile.go
  tools/go.mod
  tools/go.sum
Due: golangci-lint, license-check

refactor: cleanup mage file
  magefile.go
Due: golangci-lint

bump go-ci to v0.6.1
  go.mod
  go.sum
  magefile.go
Due: golangci-lint, license-check

fix: bump module versions to go1.19
  cicd/jenkins_env.sh
  go.mod
  tools/go.mod
Due: license-check

fix: improve cobra integration
  cmd/ocm-addons/cluster/events/cmd.go
  cmd/ocm-addons/cluster/info/cmd.go
  cmd/ocm-addons/installations/cmd.go
  cmd/ocm-addons/list/cmd.go
  cmd/ocm-addons/main.go
  cmd/ocm-addons/notify/cmd.go
  cmd/ocm-addons/notify/list/cmd.go
  cmd/ocm-addons/update/cmd.go
  cmd/ocm-addons/version/cmd.go
  internal/cli/table.go
Due: golangci-lint

fix: ensure proper signal handling for early termination
  cmd/ocm-addons/main.go
  go.mod
  internal/cli/run/options.go
  internal/cli/run/runner.go
  internal/cli/run/signals_posix.go
  internal/cli/run/signals_windows.go
Due: golangci-lint, license-check

fix: simplify signal handling
  cmd/ocm-addons/main.go
  internal/cli/run/options.go
  internal/cli/run/runner.go
  internal/cli/signals/signals_posix.go
  internal/cli/signals/signals_windows.go
Due: golangci-lint

fix: only return managed clusters when listing
  internal/ocm/cluster_pager.go
Due: golangci-lint

update git clone link and supported install OS
  README.md
Due: none

fix: add handling for Apple Silicon uname -m output
  scripts/install.sh
Due: none

fix: echo system arch
  scripts/install.sh
Due: none

docs: remove note indicating lack of support on Mac for install.sh
  README.md
Due: none

chore: add CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: add code of conduct
  CODE_OF_CONDUCT.md
Due: none

chore: add Developer Certificate of Origin
  CONTRIBUTING.md
  DCO
  DCO.license
Due: none

chore: add governance documentation
  GOVERNANCE.md
Due: none

fix: bump go version to 1.20
  cicd/jenkins_env.sh
  go.mod
  tools/go.mod
Due: license-check

fix: bump go version to 1.20
  .golangci.yaml
  cmd/ocm-addons/cluster/info/cmd.go
  cmd/ocm-addons/installations/cmd.go
  internal/ocm/addon_pager_test.go
  internal/ocm/addon_request_response.go
  internal/ocm/cluster_pager_test.go
  internal/ocm/cluster_request_response.go
  internal/testutil/command.go
Due: golangci-lint

fix: bump go version to 1.21
  cicd/jenkins_env.sh
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Due: license-check

tools: support mise
  .gitignore
  .mise.toml
Due: none

chore: bump go version to 1.23
  .mise.toml
  cicd/jenkins_env.sh
  go.mod
  tools/go.mod
Due: license-check

chore: add GitHub action for tests
  .github/workflows/test.yaml
  flake.nix
Due: none

chore: reference main in pre-commit check
  .github/workflows/test.yaml
Due: none

chore: globally exclude vendor files from pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: minor fixes to pr_checks
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  Makefile
Due: none

Path conditions:
  golangci-lint: any of: \.go$
  license-check: any of: (\bgo\.mod$)|(\.lichen\.ya?ml$)
