Repository mt-sre/ocm-addons: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, license-check

golangci-lint:
  name: golangci-lint
  entry: ./mage check:lint
  language: system
  pass_filenames: false
  require_serial: true

license-check:
  name: Check pkgs for incompatible licenses
  entry: ./mage check:license
  language: system
  pass_filenames: false
  require_serial: true

refactoring ci
  .goreleaser.yaml
  build_tag.sh
  cicd/jenkins_env.sh
  magefile.go
  pr_check.sh
Due: golangci-lint

replacing tabwriter with pterm
  go.mod
  go.sum
  internal/output/table.go
Due: golangci-lint, license-check

fix: 'notify list' usage added
  cmd/ocm-addons/notify/list/cmd.go
Due: golangci-lint

fix: noHeaders for custom tables
  cmd/ocm-addons/installations/cmd.go
  cmd/ocm-addons/notify/list/cmd.go
  internal/output/table.go
Due: golangci-lint

chore: simplify CI dependency management
  .dockerignore
  .gitignore
  go.mod
  internal/tools/lock.go
  internal/tools/lock_test.go
  magefile.go
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: golangci-lint, license-check

integrating custom output table
  README.md
  cmd/ocm-addons/cluster/events/cmd.go
  cmd/ocm-addons/cluster/events/cmd_test.go
  cmd/ocm-addons/cluster/info/cmd.go
  cmd/ocm-addons/cluster/info/cmd_test.go
  cmd/ocm-addons/installations/cmd.go
  cmd/ocm-addons/installations/cmd_test.go
  cmd/ocm-addons/list/cmd.go
  cmd/ocm-addons/list/cmd_test.go
  cmd/ocm-addons/notify/list/cmd.go
  cmd/ocm-addons/notify/list/cmd_test.go
  integration/generators.go
  integration/helpers.go
  integration/list_test.go
  internal/cli/options.go
  internal/cli/session.go
  internal/cli/table.go
  internal/notification/notification.go
  internal/notification/notification_test.go
  internal/ocm/addon.go
  internal/ocm/addon_installation.go
  internal/ocm/addon_installation_test.go
  internal/ocm/addon_pager.go
  internal/ocm/addon_test.go
  internal/ocm/cluster.go
  internal/ocm/cluster_pager.go
  internal/ocm/cluster_test.go
  internal/ocm/log_entry.go
  internal/ocm/log_entry_test.go
  internal/ocm/options.go
  internal/ocm/subscription.go
  internal/output/table.go
Due: golangci-lint

chore:implementing github features
  .github/dependabot.yml
  .github/pull_request_template.md
  .pre-commit-config.yaml
Due: none

fix: ensure go 1.16 compatability
  magefile.go
Due: golangci-lint

fix(deps): bumping cobra from 1.3.0 to 1.4.0
  go.mod
  go.sum
Due: license-check

fix: cleaned up notifications
  go.mod
  go.sum
  internal/notification/data/README.md
  internal/notification/notification.go
  internal/notification/notification_test.go
Due: golangci-lint, license-check

fix: ODF product name for notifications
  internal/notification/data/mtsre/ocs-converged.yaml
Due: none

adding test on push
  .golangci.yaml
  .pre-commit-config.yaml
  internal/tools/utils.go
  magefile.go
Due: golangci-lint

fix: pass root context to subcommands
  cmd/ocm-addons/cluster/events/cmd.go
  cmd/ocm-addons/cluster/info/cmd.go
  cmd/ocm-addons/installations/cmd.go
  cmd/ocm-addons/list/cmd.go
  cmd/ocm-addons/notify/cmd.go
Due: golangci-lint

chore: go.mod deterministic order for ...net/...sys
  go.mod
Due: license-check

fix: using path/filepath for DOS/Windows compatability
  integration/ocm-addons_suite_test.go
  integration/ocm_environment.go
  internal/notification/notification.go
  magefile.go
Due: golangci-lint

ci: running pre-commit during pr checks
  cicd/jenkins_env.sh
  magefile.go
  pr_check.sh
Due: golangci-lint

ci: updating pre-commit repos
  .pre-commit-config.yaml
  cicd/jenkins_env.sh
  pr_check.sh
Due: none

ci: ensure correct refs for pre-commit
  magefile.go
Due: golangci-lint

ci: pinning pre-commit to 2.17.0 for Python 3.6.x compatibility
  magefile.go
Due: golangci-lint

ci: simplifying install target
  magefile.go
Due: golangci-lint

docs: adding CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: link to CONTRIBUTING.md
  README.md
Due: none

docs: adding script
  README.md
  scripts/install.sh
Due: none

fix: switch mage check:license dependency from 'install' to 'build'
  magefile.go
Due: golangci-lint

feat: all cluster events now returned by 'ocm addons cluster events'
  cmd/ocm-addons/cluster/events/cmd.go
Due: golangci-lint

ci: detect breaking changes from commit messages
  .goreleaser.yaml
Due: none

fix: unbreak 'Windows' builds
  internal/notification/notification.go
Due: golangci-lint

ci: custom command wrapper for passing context and controlling output
  internal/tools/command.go
  internal/tools/command_test.go
  internal/tools/container.go
  internal/tools/helpers.go
  internal/tools/mount.go
  internal/tools/utils.go
  magefile.go
Due: golangci-lint

fix(deps): bump ocm-sdk-go from v0.1.262 to v0.1.264
  go.mod
  go.sum
  internal/ocm/addon.go
  internal/ocm/addon_test.go
Due: golangci-lint, license-check

ci: ensuring goreleaser dependency
  magefile.go
Due: golangci-lint

ci: externalize command wrapper
  go.mod
  go.sum
  internal/tools/command.go
  internal/tools/command_test.go
  magefile.go
Due: golangci-lint, license-check

fix: remove addon installation dead code
  internal/ocm/addon_installation.go
Due: golangci-lint

fix: providing more complete installation data
  cmd/ocm-addons/installations/cmd.go
  internal/ocm/addon_installation.go
  internal/ocm/cluster.go
Due: golangci-lint

feat: added 'update' subcommand for plugin self-updates
  cmd/ocm-addons/main.go
  cmd/ocm-addons/update/cmd.go
  go.mod
  go.sum
  integration/update_test.go
  internal/cli/versionupdater.go
  internal/scm/github.go
  internal/scm/github_test.go
Due: golangci-lint, license-check

ci: overridding archive format to '.zip' for windows archives
  .goreleaser.yaml
Due: none

fix(deps): bump github.com/openshift-online/ocm-sdk-go from 0.1.264 to 0.1.265
  go.mod
  go.sum
Due: license-check

feat: adding subscription information to 'addons installations'
  cmd/ocm-addons/installations/cmd.go
  internal/output/table.go
Due: golangci-lint

refactor: addon pager -> addon iterator
  integration/generators.go
  integration/list_test.go
  integration/ocm_environment.go
  internal/ocm/addon_iterator.go
  internal/ocm/addon_pager.go
  internal/ocm/addon_pager_test.go
  internal/ocm/addon_request_response.go
  internal/ocm/addon_request_response_test.go
Due: golangci-lint

refactor: cluster pager -> cluster iterator
  go.mod
  go.sum
  integration/generators.go
  integration/ocm_environment.go
  internal/ocm/cluster_iterator.go
  internal/ocm/cluster_pager.go
  internal/ocm/cluster_pager_test.go
  internal/ocm/cluster_request_response.go
  internal/ocm/cluster_request_response_test.go
Due: golangci-lint, license-check

refactor: integration generator cleanup
  integration/generators.go
  integration/helpers.go
  integration/internal/.editorconfig
  integration/internal/generator/encoders.go
  integration/internal/generator/generators.go
  integration/internal/generator/options.go
  integration/internal/utils/helpers.go
  integration/list_test.go
  integration/ocm_environment.go
Due: golangci-lint

Path conditions:
  golangci-lint: any of: \.go$
  license-check: any of: (\bgo\.mod$)|(\.lichen\.ya?ml$)
